body {
  font-family: "Rajdhani", sans-serif;
  color: #fff;
  max-width: 100vw;
  overflow-x: hidden;
}
.landing-container {
  min-height: 4300px;
  background: linear-gradient(
    -125deg,
    #2075e3 0%,
    #210e39 50vw,
    #1d1d1d 100vw,
    #ff006f 120vw,
    #2b022e 140vw,
    #0b305a 100%
  );
}
.bm-content {
  padding: 0 200px;
}
.content {
  background: rgba(16, 16, 16, 0.2);
  margin-top: 30px;
  border-radius: 8px;
  padding: 40px;
  position: relative;
  overflow-x: hidden;
}

.full-img {
  width: calc(100% + 80px);
  margin-left: -40px;
}

.com-content {
  margin-top: 50px;
  padding: 0 100px;
  text-align: center;
}

.hex {
  position: relative;
  margin: auto;
  width: 270px;
  height: 460px;
  border-radius: 7px;
  background: transparent;
  transition: opacity 0.5s;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.hex:before,
.hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: "";
  border-top: inherit;
  border-bottom: inherit;
  left: 0;
  top: 0;
}

.hex:before {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.hex:after {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.submit-btn {
  transform: scaleY(-1);
  top: 425px;
}

.limited-text {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (min-width: 1024px) {
  .transition-origin {
    left: 0px;
    top: 0px;
    transition: all 0.7s;
  }
}

@media (max-width: 1024px) {
  .bm-content {
    padding: 0 40px;
  }
  .com-content {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 15px;
  }
  .full-img {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  .hex {
    position: relative;
    margin: auto;
    width: 160px;
    height: 280px;
    border-radius: 4px;
    background: transparent;
    transition: opacity 0.5s;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .hex:before,
  .hex:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: "";
    border-top: inherit;
    border-bottom: inherit;
    left: 0;
    top: 0;
  }

  .hex:before {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  .hex:after {
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }

  .submit-btn {
    transform: scaleY(-1);
    top: 242px;
  }
}
