body {
  font-family: "Rajdhani", sans-serif;
}
.bm-content {
  padding: 0 200px;
}
.content {
  background: rgba(16, 58, 153, 0.2);
  color: #fff;
  margin-top: 30px;
  border-radius: 8px;
  padding: 40px;
}

@media (max-width: 1024px) {
  .bm-content {
    padding: 0 40px;
  }
}
